html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}


body.withmap {
    background: url('images/map.jpg') no-repeat center bottom 62px;
    background-size:contain;
    background-attachment:fixed;
}

#wrapper { 
    width:100%;
    margin:0;
    padding: 0;
}

#header .signmeup{ 
    display:none;
}
#header { 
    position:fixed;
    z-index:99;
    top:0;
    width:100%;
    height:38px;
    text-align:center;
    background: #ffd1cb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffd1cb , #ffc69a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffd1cb, #ffc69a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffd1cb, #ffc69a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffd1cb , #ffc69a); /* Standard syntax */
}

.reload-icon-holder img{
    width:12px;
}
.reload-icon-holder {
    float:right;
    height:38px;
    line-height:38px;
    vertical-align:middle;
    margin-right:20px;
    width:10%;
    text-align:right;
}

.three-rounds-holder {
    float:left;
    height:38px;
    line-height:38px;
    vertical-align:middle;
    margin-left:20px;
    width:10%;
    text-align:left;
}

.round-menu {
    width:10px;
    height:10px;
    display:inline-block;
    background:#ffffff;
    border-radius:10px;
}

#main {
    width: 100%;
    margin:0;
    padding:0;
}
.full-height{
    width:100%;
    background:#ffffff;
}

#content-1 {
    background: #ffffff url('images/header-background.jpg') center center;
    background-size:cover;
}

#content-1 .logo-holder, #content-1 .button-holder {
    text-align:center;
}

.button-holder p{
    font-family: 'Amatic SC', cursive;
    font-size:24px;
    color:#ffffff;
    font-weight:bold;
    margin:16px auto;
}
.signmeup {
    background:#ff4b32;
    color:#FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-size:22px;
    border:none;
    padding: 5px 36px;
}

.banner-1-foot {
    height:62px;
    width:100%;
    background:#ffffff;
    position:absolute;
    bottom:0;
}

.banner-1-actions {
    width:90%;
    margin:auto;
    height:inherit;
    border-bottom: 1px solid #e5e5e5;
    text-align:center;
    line-height:62px;
}

.banner-1-action img { padding-bottom:10px; }

.banner-2-header-holder img{
    padding-bottom:10px;
}

.how-it-works-label, .banner-2-sub-header-holder {
    font-family: 'Amatic SC', cursive;
    font-size:22px;
    color:#bfbfbf;
    text-align:center;
    font-weight:bold;
}
.banner-2-header-holder {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    padding-top:40px;
    text-align:center;
    color:#7dc87d;
    font-weight:bold;
}

.emphasized-text {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    padding-top:40px;
    text-align:center;
    color:#000000;
    font-weight:bold;
}

.emphasized-price div{
    font-size:20px;
    display:inline-block;
    vertical-align:top;
    padding-top:6px;
}

.emphasized-price {
    display: inline;
    font-size:46px;
}

.hr {
    width:50%;
    margin:auto;
    height:1px;
    border-top:1px solid #bfbfbf;
    margin-top:40px;
}

.special-service .line-1 { font-size:28px; padding-top:20px; }
.special-service .line-2 { font-size:24px; }
.special-service .line-3 { font-size:18px; padding-bottom:40px;}
.special-service {
    background:#f2f2f2;
    border-top:1px solid #ff4b32;
    border-bottom:1px solid #ff4b32;
    width:50%;
    margin:0 auto -20px;;
    color:#ff4b32;
    font-family: 'Amatic SC', cursive;
    font-weight:bold;
}

.services-holder {
    width:90%;
    margin: auto;
    text-align:center;
    margin-top:25px;
}

.services-holder p, .service p{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size:14px;
    color:#808080;
    padding-top:3px;
}

.service.special-service span.special-big { font-size:28px }
.service.special-service span.special-small{ font-size:20px; }

.service.special-service span {
    font-family: 'Amatic SC', cursive;
    color: #ff4b32;
    font-weight:bold;
    margin-bottom:20px;
}

.service {
    width:29%;
    padding:10px 2%;
    display:inline-block;
    vertical-align:top;
}
.banner-3-header-holder {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    padding-top:40px;
    text-align:center;
    color:#ff4b32;
}


.gift-title {
    font-size:12px;
    color: #404040;
    text-align:left;
    float:left;
}

.gift-category {
    font-size:10px;
    color:#808080;
    float:right;
}
.gift-tag {
    font-size: 10px;
    color:#bfbfbf;
    clear:both;
    text-align:left;
}
.gift-text-content p a{
    color:#404040;
}
.gift-text-content p{ 
    text-align:left; 
    font-size:10px;
    padding-top:8px;
}
.gift-text-content {
    color:#808080;
    font-size:10px;
    text-align:left;
}
.gift img{ 
    width:100%; 
    margin:10px auto;
}
.gift {
    display:inline-block;
    width:31%;
    padding: 10px 1%;
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
}

#content-5 {
    height:100px;
    background:transparent;
}

.clear-both { clear:both; }

#footer {
    height:62px;
    line-height:62px;
    font-family: 'Amatic SC', cursive;
    font-size:16px;
    width:90%;
    margin:auto;
    font-weight:bold;
    text-align:center;
}

.copyright {
    float:left;
    text-align:left;
    color:#404040;
    width:40%;
}

.social-media-links a img {
    display:inline-block;
    margin-left:6px;
    vertical-align:middle;
}

.social-media-links {
    float:right;
    text-align:right;
    width:40%;
}

.footer-links { 
    color: #404040; 
    text-align:center;
    display:inline-block;
}

.footer-links a {
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    color:#404040;
    text-decoration:none;
}

/* signup-page */
#sign-up {
    text-align:center;
    position:relative;
}

.sign-up-content { padding-top:52px; }

.colored-logo-holder img {
    width:230px;
}

.sign-up-head-label-holder {
    width:50%;
    margin:auto;
    text-align:center;
    border-bottom:1px solid #bfbfbf;
    background: url('images/icon-07-signup-01.png') no-repeat;
    background-size: contain;
    background-position:25% center;
}

h2.sign-up-label {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    padding-top: 10px;
    text-align: center;
    color: #ff4b32;
    font-weight: bold;
}
h3.sign-up-sub-label {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    color: #bfbfbf;
    text-align: center;
    font-weight: bold;
    padding-bottom:10px;
}

.sign-up-form-container {
    font-family: 'Amatic SC', cursive;
    padding-top:18px;
    width:50%;
    margin:auto;
}

.sign-up-form-container .input-holder {
    width:90%;
    margin:auto;
    padding-bottom:16px;
}
.sign-up-form-container .input-holder label.black{ color:#000000; }
.sign-up-form-container .input-holder label {
    color: #bfbfbf;
    font-size:18px;
    clear:both;
    font-weight:bold;
    display:block;
}
.sign-up-form-container .input-holder input {
    width:90%;
    text-align:center;
    padding:6px 0px;
    font-size:12px;
}

.state-input-holder {
    width:35%;
    float:left;
    text-align:left;
}
.suburb-input-holder {
    width:50%;
    float:left;
    text-align:left;
}
.add-suburb-input-holder { 
    width:15%;
    float:right;
    text-align:right;
}
.suburb-input-fields-folder { width:90%; margin:auto; }
.suburb-input-fields-folder select {
    width:90%;
    padding:6px 0;
}

#add-suburb-btn.disabled { background:#e5e5e5; color:#bfbfbf; }
#add-suburb-btn.enabled { background:#ff4b32; color:#ffffff; }

#add-suburb-btn {
    font-family: 'Amatic SC', cursive;
    width:100%;
    font-size:18px;
    text-align:center;
    border:none;
    padding:4px 0;
}
.submit-sign-up-wrapper {
    border-bottom:1px solid #bfbfbf;
    margin:auto;
    width:50%;
    text-align:center;
    padding:10px 0;
}
.submit-sign-up-holder {
    width:100%;    
    clear:both;
    position:absolute;
    bottom:0;
}

.submit-signup-button {
    background:#ff4b32;
    color:#FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-size:22px;
    border:none;
    padding: 5px 36px;
}
.month-input-holder {
    width: 33%;
    float:left;
    text-align:left;
}
.year-input-holder {
    width: 33%;
    float:left;
    text-align:center;
} 
.cvv-input-holder {
    width: 33%;
    float:left;
    text-align:right;
}
.address-state-input-holder {
    width:50%;
    float:left;
    clear:left;
    text-align:left;
}
.address-city-input-holder {
    width:50%;
    float:right;
    clear:right;
    text-align:right;
}
.input-holder img { width:50%; margin-top:10px; }

#success-signup, #form-2, #form-3, .re-send-verification { display:none; }
.re-send-verification {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    color: #bfbfbf;
    font-weight:bold;
}
.re-send-verification a {
    text-decoration:none;
    color:#ff4b32;
    font-size:26px;
}
.success-image-holder img {
    margin:20px auto;
    width:60%;
}
/* signup-page end*/